html,body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
    font-family:Verdana, Geneva, Tahoma, sans-serif;     
}
li{
    list-style-type: none;
    display: inline-block;
}
nav{
    background-color: rgb(75, 75, 75);
    display: flex;
}
nav a{    
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 5px;
}
nav a:hover{
    color: rgb(178, 177, 248);
    transition-duration: .3s;
}
.caixa-form{
    background-color: rgb(75, 75, 75);
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
}
.caixa-form input{
    height: 1.8em;
    border-radius: 3px;
    border: 0;
    width: 50%;
}
.caixa-form h1{
    text-align: center;
    color: #fff;
}
.caixa-form p{
    color: rgba(255, 255, 255, 0.767);
}
.caixa-form a{
    color: rgb(178, 177, 248);
}
label{
    display: block;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}
form{
    margin: 5px;

}
#banner{
    background-image: url("../img/industria-4.0-impactos-brasil-mundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    width: 100%;
}
#banner h1{
    font-size: 5em;
    text-align: center;
    padding: 250px;
    margin-top: 0;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}
#banner2{
    background-image: url("../img/a2664768-thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    width: 100%;
}
#banner2 h1{
    font-size: 5em;
    text-align: center;
    padding-bottom: 530px;
    margin-top: 0;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
}
.container{
    width: 85%;
    margin: auto;
}
.container p{
    color: rgba(238, 238, 238, 0.699);
    display: block;
    
}
.container h1{
    text-align: center;
    color: #fff;
    font-size: 2em;
}
.container h2{
    color: rgba(255, 255, 255, 0.767);
}
figure{
    text-align: center;
}
footer p{
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255,0.8);
    text-align: center;
    margin: 0;
    padding: 20px;
    margin-top: 20px;
}
footer{
    margin-top: auto;

}