html{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#form-div{
    width: 50%;
    background-color: rgb(185, 185, 185);
    margin: auto;
}
input{
    display: inline-block;
    padding: 2px;
    margin: 10px;
}
input[type=submit]{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
form{
    text-align: center;
}
h1{
    padding: 15px;
}
#res{
    width: 20%;
    margin: auto;
    text-align: center;
    background-color: rgb(185, 185, 185);
    color: white;
}