html{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(178, 211, 88);
}
h1{
    font-size: 2.5em;
}
h3{
    color: #505050;
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
}
img{
    width: 15%;
    margin: 0;
    margin: auto;
}
#conversor{
    text-align: center;
    width: 50%;
    margin: auto;
}
input{
    display: block;
}
#conversor input[type=text]{
    width: 50%;
    margin-bottom: 50px;
    padding: 18px;
    font-size: 1.5em;
    border-radius: 10px;
    border: 0;
    margin: auto;
    margin-bottom: 20px;
}
#conversor input[type=text]:focus{
    outline-color: rgb(34, 75, 39);
    outline-width: 2px;
    outline-style: solid;
}
button{
    width: 20%;
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin: 10px;
}
#btn-converter{
    background-color: rgb(71, 128, 150);
}
#btn-converter:hover{
    background-color: rgb(48, 88, 104);
    transition-duration: .4s;
}
#btn-resetar{
    background-color: rgb(117, 43, 43);
}
#btn-resetar:hover{
    background-color: rgb(70, 26, 26);
    transition-duration: .4s;
}